@import '../basic/fonts.scss';

// Colors
$color1: #5863F8;
$color2: #FFFFFF;
$color3: #000000;
$color4: #B1B1B1;
$color5: #F8F8F8;

// Font sizes
$size1: 14px;
$size2: 12px;
$size3: 42px;
$size4: 18px;
$size5: 13px;
$size6: 24px;

// Container sizes
$size01: 1366px;
$size02: 139px;
$size03: 30px;

// Margin-padding sizes
$size001: 14px;
$size002: 17px;
$size003: 15px;
$size004: 50px;
$size005: 138px;
$size006: 96px;
$size007: 85px;
$size008: 90px;
$size009: 35px;
$size0010: 30px;
$size0011: 54px;
$size0012: 193px;
$size0013: 5px;

// Object sizes
$object1: 168px;
$object2: 190px;
$object3: 60px;
$object4: 14px;
$object5: 35px;
$obcejt6: 16.04px;

// Fonts
$font1: 'Poppins';