html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-display: swap; }

header, .container .about, .container .booking-container .booking-box, footer .footer-content {
  max-width: 1366px;
  margin: 0 auto;
  padding: 30px 139px; }

.container .about h3, .container .about .boxes article .article-text h5 {
  font-family: "Poppins";
  font-size: 14px;
  color: #5863F8; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-display: swap; }

header, .container .about, .container .booking-container .booking-box, footer .footer-content {
  max-width: 1366px;
  margin: 0 auto;
  padding: 30px 139px; }

.container .about h3, .container .about .boxes article .article-text h5 {
  font-family: "Poppins";
  font-size: 14px;
  color: #5863F8; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-display: swap; }

header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 90px; }
  header nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px; }
    header nav .logo {
      font-family: "Poppins";
      font-size: 14px;
      color: #FFFFFF;
      font-weight: bold; }
    header nav .menu .menu-li {
      display: inline-block;
      margin-left: 50px; }
      header nav .menu .menu-li a {
        font-family: "Poppins";
        font-size: 12px;
        color: #FFFFFF; }
      header nav .menu .menu-li svg {
        width: 6.94px;
        height: 3.47px;
        margin-left: 2px; }
        header nav .menu .menu-li svg path {
          stroke: #FFFFFF; }
  header .mini-nav h2 {
    font-family: "Poppins";
    font-size: 42px;
    color: #FFFFFF;
    font-weight: bolder;
    padding: 14px 0;
    margin-bottom: 14px; }
  header .mini-nav .mini-menu .mini-menu-li {
    display: inline-block;
    padding: 0 5px; }
    header .mini-nav .mini-menu .mini-menu-li a {
      font-family: "Poppins";
      font-size: 14px;
      color: #FFFFFF; }
  header .mini-nav .mini-menu .mini-menu-li:first-child {
    border-right: 2px solid #FFFFFF;
    padding-right: 14px; }
  header .mini-nav .mini-menu .mini-menu-li:last-child {
    padding-left: 14px; }

.container {
  width: 100%; }
  .container .about {
    margin-bottom: 70px; }
    .container .about h3 {
      font-weight: bold; }
    .container .about h4 {
      font-family: "Poppins";
      font-size: 42px;
      font-weight: bolder;
      padding: 5px 0;
      max-width: 374px;
      margin-bottom: 50px; }
    .container .about .boxes {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .container .about .boxes article {
        display: flex;
        flex-grow: 2;
        margin-bottom: 17px; }
        .container .about .boxes article img {
          max-width: 168px;
          max-height: 190px;
          width: 100%;
          object-fit: cover; }
        .container .about .boxes article .article-text {
          background-color: #F8F8F8;
          padding: 35px 17px; }
          .container .about .boxes article .article-text h5 {
            font-weight: bold;
            padding: 5px 0; }
          .container .about .boxes article .article-text h6 {
            font-family: "Poppins";
            font-size: 18px;
            color: #000000;
            font-weight: bolder;
            padding: 5px 0; }
          .container .about .boxes article .article-text p {
            font-family: "Poppins";
            font-size: 12px;
            color: #B1B1B1;
            max-width: 260px;
            padding: 5px 0; }
        .container .about .boxes article .arrow {
          background-color: #5863F8;
          border: none;
          width: 60px; }
  .container .booking-container {
    background-color: #F8F8F8; }
    .container .booking-container .booking-box {
      padding-top: 53px;
      padding-bottom: 54px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end; }
      .container .booking-container .booking-box .input-div {
        display: flex;
        flex-flow: column; }
        .container .booking-container .booking-box .input-div label {
          font-family: "Poppins";
          font-size: 13px;
          color: #5863F8;
          margin-bottom: 5px;
          padding: 5px 0; }
        .container .booking-container .booking-box .input-div input {
          width: 260px;
          height: 60px;
          padding: 17px;
          font-family: "Poppins";
          font-size: 13px;
          color: #CECECE;
          border: 2px solid #EBEBEB; }
      .container .booking-container .booking-box .submit {
        background-color: #5863F8;
        width: 260px;
        height: 60px;
        border: none;
        font-family: "Poppins";
        font-size: 13px;
        color: #FFFFFF;
        font-weight: bold; }
        .container .booking-container .booking-box .submit svg {
          vertical-align: middle;
          color: #FFFFFF; }

footer {
  background-color: #000000;
  width: 100%; }
  footer .footer-content {
    padding-top: 90px;
    padding-bottom: 35px; }
    footer .footer-content .main-footer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 54px; }
      footer .footer-content .main-footer .footer-about h1 {
        font-family: "Poppins";
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 20px;
        padding: 5px 0;
        font-weight: bold; }
      footer .footer-content .main-footer .footer-about p {
        font-family: "Poppins";
        font-size: 14px;
        color: #B1B1B1;
        max-width: 260px;
        line-height: 21px;
        padding: 5px 0;
        margin-bottom: 20px; }
      footer .footer-content .main-footer .footer-about .social-icons img {
        max-width: 35px;
        max-height: 35px;
        width: 100%;
        object-fit: contain;
        margin-right: 10px; }
      footer .footer-content .main-footer .footer-nav {
        display: contents; }
        footer .footer-content .main-footer .footer-nav .useful h3 {
          font-family: "Poppins";
          font-size: 18px;
          color: #FFFFFF;
          font-weight: bold;
          padding: 5px 0;
          margin-bottom: 20px; }
        footer .footer-content .main-footer .footer-nav .useful ul li {
          padding-bottom: 10px; }
          footer .footer-content .main-footer .footer-nav .useful ul li a {
            font-family: "Poppins";
            font-size: 14px;
            color: #5863F8; }
        footer .footer-content .main-footer .footer-nav .privacy h3 {
          font-family: "Poppins";
          font-size: 18px;
          color: #FFFFFF;
          font-weight: bold;
          padding: 5px 0;
          margin-bottom: 20px; }
        footer .footer-content .main-footer .footer-nav .privacy ul li {
          padding-bottom: 10px; }
          footer .footer-content .main-footer .footer-nav .privacy ul li a {
            font-family: "Poppins";
            font-size: 14px;
            color: #5863F8; }
        footer .footer-content .main-footer .footer-nav .contact h3 {
          font-family: "Poppins";
          font-size: 18px;
          color: #FFFFFF;
          font-weight: bold;
          padding: 5px 0;
          margin-bottom: 20px; }
        footer .footer-content .main-footer .footer-nav .contact .infos div {
          padding-bottom: 23px; }
          footer .footer-content .main-footer .footer-nav .contact .infos div svg {
            vertical-align: middle;
            color: #5863F8; }
          footer .footer-content .main-footer .footer-nav .contact .infos div a {
            font-family: "Poppins";
            font-size: 14px;
            color: #FFFFFF;
            margin-left: 17px; }
    footer .footer-content .editor {
      display: flex;
      justify-content: space-between; }
      footer .footer-content .editor p {
        font-family: "Poppins";
        font-size: 14px;
        color: #B1B1B1;
        display: inline-block; }
      footer .footer-content .editor a {
        font-family: "Poppins";
        font-size: 14px;
        color: #5863F8; }
